.input-task-3 {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
.title-task-3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}
.widget {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
